<!DOCTYPE html>
<html lang="en">
<head>


    <script type='text/javascript' src='http://code.jquery.com/jquery-1.10.1.js'></script>
    <link rel="stylesheet" type="text/css" href="http://fiddle.jshell.net/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="http://fiddle.jshell.net/css/result-light.css">
    <link rel="stylesheet" type="text/css" href="http://www.drewgreenwell.com/content/metrojs.css">
    <script type='text/javascript' src="http://www.drewgreenwell.com/scripts/metrojs.js"></script>

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>JQuery Advanced News Ticker | risq</title>
    <!-- Bootstrap core CSS -->
    <link href="http://risq.github.io/jquery-advanced-news-ticker/assets/css/bootstrap.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="http://risq.github.io/jquery-advanced-news-ticker/assets/css/main.css" rel="stylesheet">
    <link href="http://risq.github.io/jquery-advanced-news-ticker/assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="http://risq.github.io/jquery-advanced-news-ticker/assets/css/prism.css" rel="stylesheet" />
    <link href="http://risq.github.io/jquery-advanced-news-ticker/assets/css/jquery.mCustomScrollbar.css" rel="stylesheet" type="text/css" />



    <!--<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>-->
    <script src="http://risq.github.io/jquery-advanced-news-ticker/assets/js/chart.js"></script>
    <script src="http://risq.github.io/jquery-advanced-news-ticker/assets/js/bootstrap.js"></script>
    <script src="http://risq.github.io/jquery-advanced-news-ticker/assets/js/prism.js"></script>
    <script src="http://risq.github.io/jquery-advanced-news-ticker/assets/js/jquery.mCustomScrollbar.min.js"></script>
    <script src="http://risq.github.io/jquery-advanced-news-ticker/jquery.newsTicker.js"></script>
    <script src="~/Scripts/DynamicData.js"></script>


    <script type='text/javascript' src='http://www.givainc.com/labs/lib/jquery.marquee.js'></script>
    <link type="text/css" href="http://www.givainc.com/labs/css/jquery.marquee.css" rel="stylesheet" media="all" />


</head>




<body class="grey">
    <script type="text/javascript">
        //<![CDATA[
        $(window).load(function () {
            function getRandomOptions() {
                // this could obviously be a lot more random
                var doIt = Math.floor(Math.random() * 1001) % 2 == 0;
                // set random options supported by the goto method
                // http://www.drewgreenwell.com/projects/metrojs#liveTileMethods
                return {
                    index: "next",
                    delay: 3000,
                    animationDirection: doIt ? 'forward' : 'backward',
                    direction: doIt ? 'vertical' : 'horizontal'
                };
            }
            // setup the tile and then call goto on it the first time
            $("#tile3").liveTile({
                animationComplete: function (tileData) {
                    $(this).liveTile("goto", getRandomOptions());
                }
            }).liveTile("goto", getRandomOptions());


        });
    </script>
    <table style="margin-top:20px" border="0px">
        <tr>
            <td width="50%">
                <div style="margin-left:-200px">
                    <div class="container">
                        <div class="row">
                            <div class="">
                                <div id="nt-example1-container">
                                    <ul id="nt-example1">
                                       
                                    </ul>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </td>
            <td width="50%">
                <table>
                    <tr>
                        <td>
                            <div class="red">
                                <div id="tile3" data-mode="carousel" data-start-now="false" class="live-tile six-wide three-tall" data-repeat='0'>
                                    <!--<div><img id="LTUpdateImage0" class="full" src="" alt="0" /></div>
                                    <div><img id="LTUpdateImage1" class="full" src="" alt="1" /></div>
                                    <div><img id="LTUpdateImage2" class="full" src="" alt="2" /></div>
                                    <div><img id="LTUpdateImage3" class="full" src="" alt="3" /></div>
                                    <div><img id="LTUpdateImage4" class="full" src="" alt="4" /></div>-->
                                </div>
                                </div>
                            
                        </td>
                    </tr>

                    <tr>
                        <td>
                           <table id="pdrmUpdates">
                                

                            </table>

                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

    <div margin-left="200px" class="panel">
        <h1><marquee id="flashUpdates"></marquee></h1>
    </div>



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script>

        var nt_title = $('#nt-title').newsTicker({
            row_height: 40,
            max_rows: 1,
            duration: 3000,
            pauseOnHover: 0
        });
        var nt_example1 = $('#nt-example1').newsTicker({
            row_height: 80,
            max_rows: 11,
            duration: 4000,
            prevButton: $('#nt-example1-prev'),
            nextButton: $('#nt-example1-next')
        });
    </script>




    <script>
        var updateList = $('#nt-example1');
        $.ajax({
            type: "GET",
            url: "http://localhost:1781/api/FetchUpdates/AllUpdates",
            contentType: "application/json;charset=utf-8",
            dataType: "json",

            success: function (result) {
                $.each(result, function (index, element) {
                    
                    var entry = "<li><img height='60px' width='60px' src=\'"+element.Description+"\'/><b>   Title:</b>" + element.Title + "  <b>Created By:</b>" + element.CreatedBy + "</li>";
                    updateList.append(entry);
                });
            },
            error: function (msg) {
                alert(msg);
            }

        });

        $.ajax({
            type: "GET",
            url: "http://localhost:1781/api/FetchUpdates/AllLTUpdates/",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                //var i = 0;
                //var imageIds = "";
                //var imageCon = "";
                $.each(result, function (index, element) {
                    var imageHtml = '<div><img id="LTUpdateImage1" class="full" src=\"'+element+'\" alt="1" /></div>';
                    //imageIds = "LTUpdateImage" + (i++).toString();
                    
                    //imageCon = $('#' + imageIds);
                    $('#tile3').append(imageHtml);
                    //if (i >4)
                    //{
                    //    i = 0;
                    //}
                    //imageCon.attr("src", element);
                    
                    
               });
            },
            error: function (msg) {
                alert("Images not loaded!");
            }
        });
        var flashUpdates = "";
        $.ajax({
            type: "GET",
            url: "http://localhost:1781/api/FetchUpdates/AllFlashUpdates/",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                $.each(result, function (index, element) {
                    flashUpdates += element.Title + "  #  ";
                    $('#flashUpdates').text(flashUpdates);
                }
                
                );
            },
            error: function (msg) {
                alert("Images not loaded!");
            }
        });

        var pdrmUpdates = $('#pdrmUpdates');
        $.ajax({
            type: "GET",
            url: "http://localhost:1781/api/FetchUpdates/AllPDRMUpdates",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                
                $.each(result, function (index, element) {
                    var pdrmHtml = '<tr><td><div class="blue"><img margin-leftid="pdrmImage" height="100" width="100" src=\"' + element.Description + '\" alt="1"  /></div></td><td><div id="pdrmTextUpdate">' + element.Title + '</div></td></tr><tr><td>----------------</td></tr>';
                    pdrmUpdates.append(pdrmHtml);
                }
                
            );
            },
            error: function (msg) {
                alert("Images not loaded!");
            }
        });
</script>
</body>
</html>
