
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title> - jsFiddle demo</title>


    <script type='text/javascript' src='http://code.jquery.com/jquery-1.7.1.js'></script>
    <link rel="stylesheet" type="text/css" href="http://fiddle.jshell.net/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="http://fiddle.jshell.net/css/result-light.css">
    <link rel="stylesheet" type="text/css" href="http://www.drewgreenwell.com/content/metrojs.css">
    <script type='text/javascript' src="http://www.drewgreenwell.com/scripts/metrojs.js"></script>

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <style type='text/css'>
        .clear {
            clear: both;
        }
    </style>








    <script type='text/javascript'>
//<![CDATA[
$(window).load(function(){
//flip mode image swaps
//an array of 4 images to swap between. I've placed 1 last because it is the initial image as well
var imgs = [{src:'http://www.drewgreenwell.com/images/sample/2tw.gif', alt:'2'},
                   {src:'http://www.drewgreenwell.com/images/sample/3tw.gif', alt:'3'},
                   {src:'http://www.drewgreenwell.com/images/sample/4tw.gif', alt:'4'},
                   {src:'http://www.drewgreenwell.com/images/sample/1tw.gif', alt:'1'}
                  ];
$("#tile1").liveTile(
    {
      mode:'flip',
      swapFront: 'image',
      frontImages: imgs,
      //choose images in sequence from the array
      frontIsRandom: false
    }
);
$("#tile2").liveTile(
    {
      mode:'flip',
        // or swapBack:'image'
      swap: 'image',
      backImages: imgs,
      //choose images randomly from the array
      backIsRandom: true
    }
);


// carousel mode: random
function getRandomOptions(){
    // this could obviously be a lot more random
    var doIt = Math.floor(Math.random() * 1001) % 2 == 0;
    // set random options supported by the goto method
    // http://www.drewgreenwell.com/projects/metrojs#liveTileMethods
    return {
            index: "next",
            delay: 3000,
            animationDirection: doIt ? 'forward' : 'backward',
            direction: doIt ? 'vertical' : 'horizontal'
        };
}
// setup the tile and then call goto on it the first time
$("#tile3").liveTile({
    animationComplete: function(tileData){
        $(this).liveTile("goto", getRandomOptions());
    }
}).liveTile("goto", getRandomOptions());


});//]]>




    </script>

</head>
<body>


    <div class="tiles red">
        <table>
            <tr>
                <td>
                    <div id="tile1" class="live-tile red six-wide three-tall" data-delay="3500" data-initdelay="500">
                        <!-- adding the 'full' class to an 'img' or 'a' tag causes it to fill the entire tile -->
                        <div>
                            <a href="#"><img class="full" src="http://www.drewgreenwell.com/images/sample/1tw.gif" alt="first" /></a>
                            <span class="tile-title"><h2>LT Update</h2></span>
                        </div>
                        <div>
                            <p>
                                LT Update
                                <span class="tile-title">LT Update</span>
                            </p>
                        </div>
                    </div>
                </td>
                <td>
                    <div id="tile2" class="live-tile green six-wide three-tall" data-direction="horizontal" data-initdelay="500" data-delay="3000">
                        <div>
                            <p>
                                this tile flips horizontally and swaps between images randomly
                                <span class="tile-title">front title</span>
                            </p>
                        </div>
                        <div>
                            <img class="full" src="http://www.drewgreenwell.com/images/sample/1tw.gif" alt="first" />
                            <span class="tile-title">back title</span>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="blue">
                        <div id="tile3" data-mode="carousel" data-start-now="false" class="live-tile blue six-wide three-tall" data-repeat='0'>
                            <div><img class="full" src="http://www.drewgreenwell.com/images/sample/1tw.gif" alt="1" /></div>
                            <div><img class="full" src="http://www.drewgreenwell.com/images/sample/2tw.gif" alt="2" /></div>
                            <div class="accent emerald"><p class="metroExtraLarge">2 and a half</p></div>
                            <div><img class="full" src="http://www.drewgreenwell.com/images/sample/3tw.gif" alt="3" /></div>
                            <div><img class="full" src="http://www.drewgreenwell.com/images/sample/4tw.gif" alt="4" /></div>
                        </div>
                    </div>

                </td>
                <td>
                    <div id="tile2" class="live-tile yellow six-wide three-tall" data-direction="horizontal" data-initdelay="500" data-delay="3000">
                        <div>
                            <p>
                                this tile flips horizontally and swaps between images randomly
                                <span class="tile-title">front title</span>
                            </p>
                        </div>
                        <div>
                            <img class="full" src="http://www.drewgreenwell.com/images/sample/1tw.gif" alt="first" />
                            <span class="tile-title">back title</span>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>




    <div class="clear">
        <h2>Notes</h2>
        <p>To activate a swap module you need to set data-swap = 'image', 'html', or 'html,image' </p>
    </div>
    <h1>Carousel Mode: Random Options</h1>
    <div class="red">
        <div id="tile3" data-mode="carousel" data-start-now="false" class="live-tile" data-repeat='0'>
            <div><img class="full" src="http://www.drewgreenwell.com/images/sample/1tw.gif" alt="1" /></div>
            <div><img class="full" src="http://www.drewgreenwell.com/images/sample/2tw.gif" alt="2" /></div>
            <div class="accent emerald"><p class="metroExtraLarge">2 and a half</p></div>
            <div><img class="full" src="http://www.drewgreenwell.com/images/sample/3tw.gif" alt="3" /></div>
            <div><img class="full" src="http://www.drewgreenwell.com/images/sample/4tw.gif" alt="4" /></div>
        </div>
    </div>







</body>

</html>
